.transition {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.shadow {
    -webkit-box-shadow: 1px 4px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 15px -6px rgba(0, 0, 0, 0.75);
}

.card-header {
    background: #484848;
    margin: 0 0;
    padding: 15px;
    color: #fff;
    text-align: center;
    border-bottom: 5px #E84C3D solid;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.card-body {
    margin: 0 0;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.thumbnail.profile {
    border: none;
    border-radius: 50%;
    position: relative;
    min-width: 120px;
    min-height: 120px;
    width: 8vw;
    height: 8vw;
    max-width: 250px;
    max-height: 250px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.thumbnail.editable {
    cursor: pointer;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    padding: 40px 0;
    margin: 0 auto;
}

.thumbnail.editable:hover {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
}

.margin-top {
    margin-top: 30px;
}

.padding-top {
    padding-top: 30px;
}

.btn-border {
    border-radius: 0;
    font-family: "PT Sans", sans-serif;
    padding: 3px 10px;
    border: 2px #E88174 solid;
    background: #fff;
    color: #E88174;
}

.btn-border:hover, .btn-border:focus {
    background: #E88174;
    color: #fff;
    border: 2px #E88174 solid;
}

.abs-left {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.abs-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.btn-border.btn-success{
    color: rgb(45, 193, 37);
    border: 3px rgb(45, 193, 37) solid;
}

.btn-border.btn-success:hover {
    background: rgb(45, 193, 37);
    color: #fff;
    border: 3px rgb(45, 193, 37) solid;
}

input.inline-field:not([type="submit"]), input.inline-field:focus:not([type="submit"]), input.inline-field:active:not([type="submit"]), select{
    border: none;
    outline: none;
    background-color: inherit;
    min-width: 150px;
}

.enable-edit{
    cursor: pointer;
}

.pane{
    padding: 10px 10px;
    background: #ddd;
    margin: 10px 0px;
}