 div.fp-tableCell{
    padding: 0 0;
    display: block;
}


.logo {
    display: inline-block;
}

.nav-links {
    display: inline-block;
    float: right;
    margin-right: 10px;
    clear: both;
    font-family: Lato;
    font-size: 0.68em;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    font-weight: bolder;
}

.nav-links li:hover > a,
.nav-links li a.active {
    color: rgb(19, 183, 57);
}

.about-us-override > ul,
.about-us-override > p {
    display: inline-block;
    width: 45%;
    padding-left: 30px;
    /*color: white;*/
}

.about-us-override > p {
    display: none;
}

.about-us-override li {
    list-style: none;
}

.about-us-override > ul .link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.about-us-override > ul .link img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 8px solid #ddd;
}

.about-us-override > ul .link:hover img,
.about-us-override > ul .link.active img {
    border-color: rgba(12, 114, 181, 0.7);
}

.about-us-override > ul .link:hover p,
.about-us-override > ul .link.active p {
    color: rgba(12, 114, 181, 0.7);
}

.link p {
    margin-top: 0px;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
}

.about-us-override .paragraph, .smat .paragraph{
    display: inline-block;
    font-size: 0.7em;
    text-align: justify;
    vertical-align: top;
}

.smat {
    text-align: justify;
}

.smat,
.contact-us {
    padding-left: 40px;
}

.about-us-override,
.smat,
.contact-us {
    margin-top: 50px;
}

.fade li span{
    top: -200px;
}

.contact-us > div {
    display: block;
    font-size: 0.7em;
}

.contact > div {
    display: inline-block;
    width: 45%;
    padding: 0 auto;
}

@media screen and (max-width: 600px) {
   header.navi{
        height: auto;
    }
    div.logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .logo img{
        width: 100%;
        margin: 0 auto;
    }
    .nav-links {
        display: block;
        margin: 0 auto;
        float: none;
        font-size: 20px;
        text-align: center;
        width: 100%;
        padding: 0 0;
    }
    .nav-links li{
        display: block;
    }
    .section.banner, .about-us-override ul, .smart-links{
        display: none;
    }
    .about-us-override p.paragraph{
        display: block;
        width: 90%;
    }
    .smart-text.paragraph{
        display: block;
        width: 90%;
    }
    .contact div, .contact-us p{
        display: block;
        text-align: center;
        width: 90%;
    }
}